.second-color {
    color: $color-second;
}
.third-color {
    color: $color-third;
}

.btn {
    
    background-color: transparent;
    padding: 0px;    
    border-radius: 3px;
    font-family: Italianno;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

}

/* HEADER */
header {
    font-family: Italianno;
    height: 70px;
    font-size: 32px;
}
