.second-color {
    color: $color-second;
}
.third-color {
    color: $color-third;
}

.btn {
    
    background-color: $color-third;
    padding: 0px;
    width: 150px;
    border-radius: 3px;
    font-family: Italianno;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

}

/* HEADER */
header {
    font-family: Italianno;
    height: 70px;
    font-size: 32px;
}

.herobg {
    background-image: url(../assets/nosotros.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: Italianno;
    font-size: 40px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
